.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 10px;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cards-container {
  border: 1px solid #eee;
  border-radius: 8px;
  overflow: hidden;
}

.entry-card {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 600px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.name {
  width: 200px;
}